html,
body {
    height: 100%;
	background-image: url("/liadElirazProject/web/ss.jpg");
	background-repeat: repeat;
	background-size: 100%;
	
}

.wrap {
    min-height: 100%;
    height: 80%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
	background-image: url("/liadElirazProject/web/ss.jpg");
	background-repeat: no-repeat;
	background-size: 100%;

}

.wrap > .container {
    padding: 70px 15px 20px;
}

.container {
	text-align: center;
}


.table tr {
	border: 2px solid;
	border-color: rgb(237, 209, 180);
}

.employees-index th{ /*עיצוב לתא בכותרת הטבלה*/
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
	font-weight: bold;
}

.employees-index tr td{ /*הגדרת עיצוב לשורה ותא בטבלה*/
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.eployees-index {
	position: relative;
	height: 100%;
	font-weight: bold;
	
}
.site-login{

font-weight: bold;
}
.site-index {
/*
	min-height: 100%;
    height: 100%;
	width: 100%;
    margin: 0 auto -60px;
    padding: 0 0 60px;
	background-image: url("/liadElirazProject/web/lk.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	z-index:-1;
	position:abslute;*/
	
/*height: 100%;
	background-image: url("/liadElirazProject/web/gf.jpg");
	background-repeat: repeat;
	background-size: 100%;	
	font-weight: bold;*/
}
.jumbotron{
	font-weight: bold;
}
.lead{
font-weight: bold;
}
.buroc-index {
	position: relative;
	height: 100%;
}

.buroc-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;

}

.buroc-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.summary-day-index {
	position: relative;
	height: 100%;
}

.summary-day-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.summary-day-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.revenues-index {
	position: relative;
	height: 100%;
}

#revenues-chart2 {
	/*position: relative;*/
	bottom:800px;
	/*height: 900%;*/
}

.revenues-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.revenues-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.invitations-index {
	position: relative;
	height: 100%;
}



.invitations-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.invitations-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}
.visitors-form{

 width:250px;
 margin:5px;
 left: 150px;
/*position: center;*/
}
.visitors-index {
	position: relative;
	height: 100%;
}

.visitors-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.visitors-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.subscribers-index {
	position: relative;
	height: 100%;
}

.subscribers-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.subscribers-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.projects-index {
	position: relative;
	height: 100%;
}

.projects-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.projects-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.user-index {
	position: relative;
	height: 100%;
}

.user-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.user-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.suppliers-index {
	position: relative;
	height: 100%;
}

.suppliers-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
}

.suppliers-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
}

.item-index th{
	border: 2px solid;
	background-color: rgb(237, 209, 180);
	border-color: rgb(237, 209, 180);
	text-align: center;
	
}

.item-index tr td{
	
	border: 2px solid;
	border-color: rgb(237, 209, 180);
	font-weight: bold;
	
}

.item-index {
	position: relative;
	height: 100%;
	
	
}


w5 li a{
    color: black;
	background-color: rgb(237, 139, 116);
}

#w0 button:hover {
    background-color: rgb(237, 209, 180);
}

#w0 button {
    background-color: rgb(237, 139, 116);
	border-color: rgb(237, 139, 116);
}

#w1 button:hover{
	background-color: rgb(237, 139, 116);
}

#w1 button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#w5 button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#login-form button {
	background-color: rgb(237, 139, 116);
	border-color: rgb(237, 139, 116);
}

#login-form button:hover{
	background-color: rgb(237, 139, 116);
}

#login-form button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#w1 button{
	color: black;
}

#w5 button{
    color: black;
}

#w0 a{
	color: black;
}

#w1 a {
    color: black;
}

#w4 a {
    color: black;
}

#w3 a {
    color: black;
}

#w1 li a {
	background-color: rgb(237, 139, 116);
}

#w8 li a {
	background-color: rgb(237, 139, 116);
	color: black;
}

#w8 button{
	color: black;
}

#w8 button:hover{
	background-color: rgb(237, 139, 116);
}

#w8 button:focus {
	background-color: rgb(237, 139, 116);
	outline: none;
}

#w7 a{
    color: black;
}








.wrap > .navbar {
	background-color: rgb(237, 139, 116);
	border: 0;
	
	
}

.employees-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.employees-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.btn.btn-success {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.btn.btn-success:active {
	background-color: rgb(237, 209, 180);
}

.btn.btn-success:focus {
	background-color: rgb(237, 209, 180);
}

.buroc-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.buroc-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.summary-day-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.summary-day-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.revenues-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.revenues-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.invitations-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.invitations-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.visitors-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.visitors-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.subscribers-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.subscribers-index p a:hover {
	background-color: rgb(237, 209, 180);
}


.projects-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.projects-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.user-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.user-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.suppliers-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.suppliers-index p a:hover {
	background-color: rgb(237, 209, 180);
}

.item-index p a {
	background-color: rgb(237, 139, 116);
	border: 0;
}

.item-index p a:hover {
	background-color: rgb(237, 209, 180);
}


#buroc-DueDate {
	padding: 5px 45px;
}
/*
#employee-startdate {
	padding: 5px 45px;
}

#employee-enddate {
	padding: 5px 45px;
}*/

.footer {
    height: 40px;
	position:fixed;
	left:0px;
	bottom:0px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 10px;
	width: 100%;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.navbar-nav.navbar-right.nav {
	background-color: rgb(237, 139, 116);
}

